/*Color schemes!
light blue links: #48AEDF
dark gray bg: #2D2F27
purple numbers: #AA81DD
bright green: #93D42E;
hot pink: #EA287C;
white 

for the gif image, you can use     width: 100%;
   max-width: 500px;

and the will make it responsive


*/


* {
	background-color: #2D2F27;
	box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
	text-align: right;
	color: #93D42E;
	font-family: 'Inconsolata', monospace;

}

footer {
	position: absolute;
	color: white;
	bottom: 0;
	font-family: 'Inconsolata', monospace;
}

#tongueIcon {
	width: 12px;
	height: 12px;
}

h1 {
	color: #93D42E;
	font-size: 32px;
}

/*========MODAL STYLING===========*/

#modalBtn {
	background-image: url("https://github.com/pauldoubleyouare/API_Capstone_TipOfTheTongue/blob/master/hamburgerFinal.png?raw=true");
	background-size: 60px 60px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	width: 60px;
	height: 60px;
	border: none;
	margin-right: 20px
	margin-top: 20px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.6);
}

.modal-content {
	background-color: white;
	color: black;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid white;
	width: 80%;
}

.close {
	color: white;
	float: right;
	font-size: 20px;
	font-weight: bold;
}

.closeBtn:hover, .closeBtn:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

span.closeBtn {
	font-size: 30px;
	background-color: white;
	color: black;
}

.modal-content p, li, ul, a {
	background-color: white;
	color: black;
	text-align: left;
}

/*===============================*/



#instructions {
	width: 500px;
	height: 400px%;
	color: #68CFDF;
}

input {
	width: 30%;
	padding: 10px 10px;
	color: white;
	font-size: 20px;
	font-family: 'Inconsolata', monospace;

}

#startPage {
	justify-content: center;
	font-family: 'Inconsolata', monospace;
	height: 500px;
}

#startPage h1 {
	text-align: center;
}

section.instructionsContainer {
	display: block;
	width: 500px;
	margin: 0 auto;
}

#instructions {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}



.button {
	display: inline-block;
	border: 1px solid;
	border-color: #D7E7EA;
	border-radius: 8px;
	background-color: RGBA(0,0,0,0);
	color: #EA287C;
	padding: 14px 28px;
	font-size: 20px;
	cursor: pointer;
	/*box-shadow: 4px 4px 4px white;*/
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
}

button.button.enterHere {
	display: block;
	margin: 0 auto;
}

.enterHere {
	border-color: white;
}

.enterHere:hover {
	background-color: white;
	color: #AA81DD;
	border-color: black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.searchWordButton:hover {
	background-color: white;
	color: black;
	border-color: black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#giphyResult {
	width: 100%;
	max-width: 500px;
}


#searchTermResults {
	display: inline-block;
	position: relative;
	margin: 0 auto;
}

#startPage, #mainContent {
	color: white;

}

#mainContent {
	display: none;
	font-family: 'Inconsolata', monospace;
}

