* {
	background-color: #474646;
	box-sizing: border-box;
}

#searchTermResults {
	display: inline-block;
	position: relative;
	margin: 0 auto;
}

#startPage, #mainContent {
	color: white;
}

#mainContent {
	display: none;
}